<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h1>Welcome {{name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col" >
            <form >
                
                <div class="form-group">
                    <label>First Name : {{fname}}</label>
                </div>

                <div class="form-group">
                    <label>Last Name : {{lname}}</label>
                </div>

                <div class="form-group">
                    <label >Phone Number : {{ph}}</label>
                    
                </div>

            </form>

        </div>

    </div>

</div>







